<div> {{mechanic.lastName}}, {{mechanic.firstName}} (hired {{mechanic.hireDate.toLocaleDateString()}}), {{getYearsSinceHired()}}

    <button class="btn-primary" *ngIf="editMode && !doEdit" (click)="doEdit=true">Edit</button>
    <button class="btn-primary" *ngIf="editMode && doEdit" (click)="done()">Done</button>

</div>

<div *ngIf="editMode && doEdit">
    <input type="text" [(ngModel)]="mechanic.firstName" />
    <input type="text" [(ngModel)]="mechanic.lastName" />
    <input type="date" [valueAsDate]="mechanic.hireDate" (input)="mechanic.hireDate=parseDate($event)"/>
</div>